/* Colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$cream: rgb(255, 255, 112);

/* Fuentes */
$font-title: "Alegreya", serif;
$font-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-link: Arial, Helvetica, sans-serif;