// @import './_global';
@import './_mixin';
@import './_herencia';

// .blog {
//     background-color: $white;
//     max-width: unset;
//     padding: 5% 10%;
// }

// p {
//     font-family: $font-text;
//     background-color: $cream;
// }

// a {
//     font-family: $font-link;
// }

h1 {
    font-size: 2em;
    padding: 5px;
    @include color-invertido;
}

h2 {
    font-size: 1.5em;
    padding: 3px;
    @include color-invertido;
}